<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/initil.css">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
</head>
<body>
<div class="container">
    <div class="header">
        <a href="/index/">
            <img class="header__icon" src="/static/image/maskBlack.png">
        </a>
        <!-- <span class="header__about">
            로그아웃
        </span> -->
        <div class="box__img">
            <label for="box__imageInput">
                <img 
                    src="/static/image/image.png" 
                    class="box__imgIcon"
                    style="width: 31px; height: 31px;" 
                    onmouseover="this.src='/static/image/image_hover.png'"
                    onmouseout="this.src='/static/image/image.png'"/>
            </label>
            <input class="box__imageInput" id="box__imageInput" type="file" data-image-src=''/>
        </div>
        <div class="header__noti">
            <div class="header__notiText">
                내 감정을 이미지로 버릴 수도 있어요!
            </div>
            <img src="/static/image/close_noti.png" class="header__notiClose" onclick="close_headerNoti();" />
        </div>
    </div>
    <div class="content">
        <div class="main__box">
            <div class="box__content">
                <form class="box__form">
                    <div class="box__wrapTextarea">
                        <textarea
                                class="box__textarea"
                                placeholder="오늘 제일 화났던 일은&#x0a;무엇이 었나요?"
                                required
                        ></textarea>
                    </div>
                    <div class="box__wrapImage">
                        <img src="" class="box__image">
                    </div>
                    <!--<div class="box__wrapImage">-->
                        <!--<i class="box__icon">x</i>-->
                    <!--</div>-->
                    <div class="box__footer">
                        <!-- <div class="box__img">
                            <label for="box__imageInput">
                                <img src="/static/image/image.png" class="box__imgIcon"/>
                            </label>
                            <input class="box__imageInput" id="box__imageInput" type="file"/>
                        </div> -->
                        <input class="box__button" type="button" value="버리기" onclick="clickTextarea()" disabled/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modalWrap">
    <div class="modal">
        <div class="modal__box">
            <img class="modal__icon" src="/static/image/close.png" onclick="close_modal();"/>
            <div class="modal__content">
                <p class="modal__topText">이 감정을</p>
                <select class="modal__select">
                    <option value="fire">불에 태워</option>
                    <option value="trashcan">쓰레기통에 버려</option>
                    <option value="car">차에 치여</option>
                    <option value="shredder">분쇄기에 갈아</option>
                    <option value="stamp">도장으로 찍어</option>
                    <option value="hammer">망치로 부셔</option>
                    <option value="paint_pot">페인트를 부어</option>
                    <option value="erase">직접 지워</option>
                </select>
                <span class="modal__bottomText">버리기</span>
            </div>
            <button class="box__button--click" onclick="clickModal()">확인</button>
        </div>
    </div>
    <div class="modal__soundNoti">
        <div class="modal__soundNotiText">
            <img class="modal__soundIcon" src="/static/image/sound_icon.png">
            <span style="vertical-align: top;">사운드를 켜주세요!</span>
        </div>
    </div>
</div>
<script>
    function close_headerNoti(){
        $(".header__noti").fadeOut(200);
    }

    function close_modal(){
        $(".modalWrap").hide();
    }

    function clickTextarea() {
        console.log("!!!!");
    	$(".modalWrap")
        .css({
            'display' : 'flex'
        })
        .hide()
        .fadeIn(200);

        $(".modal__soundNoti").removeClass("upAnimation");
        $(".modal__soundNoti").addClass("upAnimation");
	}

    function clickModal() {
        var selectValue = document.getElementsByClassName("modal__select")[0].value;
        var text = document.getElementsByClassName("box__textarea")[0].value;
        console.log(selectValue, text)
        window.open("/animated/?text="+text+"&type="+selectValue,"_self");
    }


    function clickModal_image(){
        var selectValue = document.getElementsByClassName("modal__select")[0].value;
        const image_src = $("#box__imageInput").data('imageSrc');
        console.log(selectValue, image_src);
        window.open("/animated/?text="+""+"&type="+selectValue,"_self");
        //document.frm.submit();
    }
    $("#box__imageInput").change(function(){
        var file = this.files[0];
        var reader = new FileReader();
        reader.onloadend = function() {
            // console.log('RESULT', reader.result);
            sessionStorage.setItem("image",reader.result);
            console.log("session : ", sessionStorage.getItem("image"));
            $(".box__image").attr("src", reader.result);
            $("#box__imageInput").data('imageSrc', reader.result);
        }
        reader.readAsDataURL(file);
        $(".box__button--click").attr("onclick", "clickModal_image()");
        $(".box__wrapTextarea").hide();
        $(".box__wrapImage").css({
            'display' : 'block'
        });
        $(".box__textarea").removeAttr('required');
        $(".box__button").removeAttr('disabled');
    });
    $(".modal__select").change(function(){
        console.log(this.value);
        $("#box__selectValue").val(this.value);
    });

    $('.box__textarea').bind('input propertychange', function() {
        var textareaValue = $(this).val();
        console.log(textareaValue);

        if(textareaValue.length != 0){
            $(".box__button").removeAttr('disabled');
        }
        else {
            $(".box__button").attr('disabled', 'true');
        }
    });
</script>
</body>
</html>